  body {
    height         : 100%;
    width          : 100%;
    /*padding-top    : 50px;
    padding-bottom : 60px;*/
  }


  #map {
    position:absolute;
    top:50px; 
    bottom:0; 
    width:100%;
    z-index: 1;
    height:90%
  }

  circle.ping {
      stroke       : #000;
      stroke-width : 0.5px;
      fill         : red;
  }

  .container .text-muted {
    margin : 20px 0;
  }

  .marker {
    width         : 2;
    height        : 2;
    border        : 2px solid red;
    border-radius : 50%;
  }


.axis {
  fill: gray;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
}

.axis .halo {
  stroke: gray;
  stroke-width: 4px;
  stroke-linecap: round;
}

.slider .handle path {
  stroke: white;
  stroke-width: 3px;
  stroke-linecap: round;
  pointer-events: none;
}

.slider .handle text {
  fill: white;
  text-align: center;
  font-size: 18px;
}
