<div id="map"></div>

<div class="streaming-sidebar col-xs-2 col-xs-offset-10">
</div>

<div class="navbar navbar-inverse navbar-fixed-bottom" role="navigation">
	<div class="container-fluid">
		<div class="navbar-header">
			<span class="navbar-brand">StreamingSocialSandbox</span>
		</div>
		<div>
			<ul>
				<span id="created_time" class="pull-right" style="color:white;"> </span>
			</ul>
		</div>
	</div>
</div>
